@import "../base/vars";

.page-header {
  @include box-shadow(0px 0px 2px lightgray);
  position: relative;
  background-color: $post-bg-color;
  nav {
    overflow: hidden;
  }
  .menus {
    float: left;
    .item {
      float: left;
      margin: 0 0 0 2rem;
      padding: 2rem 0;
      &:first-child {
        border-right: 1px solid lightgray;
        padding-right: 2rem;
      }
      a {
        text-decoration: none;
        .icon {
          border: 1px solid lightgray;
          color: $boldlightdark-text-color;
          font-size: 1.4rem;
          padding: .6rem;
          @include border-radius(100%);
        }
        
        .icon-quill {
          border: 0;
          background-color: $light-blue-bg-color;
          color: white;
        }
      }

      }
    }
  
  }

  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    .icon-twitter {
      font-size: 2.8rem;
      color: $light-blue-bg-color;
    }
    
}
  
.page-header {

  nav {
    position: relative;
  }
   .vertical-center {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
   }
   .search {
     @extend .vertical-center;
     @include border-radius(30px);
     @include box-shadow(0px 0px 2px lightgray);
     padding: .7rem;
     padding-left: 1.8rem;
     font-size: 1.4rem;
     text-transform: uppercase;
     right: 5.2rem;
     border: 1px solid lightgray;
     &:hover {
       border: 0;
     }
     &:focus {
       outline: none;
     }
   }
  
   .avator {
     @extend .vertical-center;
     @include border-radius(100%);
     width: 3.5rem;
     height: 3.5rem;
     right: .5rem;
   }
  }


