@charset "UTF-8";
/* line 5, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/components/_icon.scss */
.icon-quill:before {
  content: "";
}

/* line 2, ../sass/components/_icon.scss */
.icon-bell:before {
  content: "";
}

/* line 2, ../sass/components/_icon.scss */
.icon-email:before {
  content: "";
}

/* line 2, ../sass/components/_icon.scss */
.icon-cog:before {
  content: "";
}

/* line 25, ../sass/components/_icon.scss */
.icon-twitter:before {
  content: '\ea91';
}

/* line 31, ../sass/components/_icon.scss */
.icon-link:before {
  content: '\e9cb';
}

/* line 37, ../sass/components/_icon.scss */
.icon-redo:before {
  content: '\e968';
}

/* line 43, ../sass/components/_icon.scss */
.icon-star:before {
  content: '\e9d9';
}

/* line 48, ../sass/components/_icon.scss */
.icon-loop:before {
  content: '\ea2e';
}

/* line 52, ../sass/components/_icon.scss */
.icon-ellipsis:before {
  content: '\e935';
}

/* line 56, ../sass/components/_icon.scss */
.icon-maximize:before {
  content: '\e98b';
}

/* line 3, ../sass/layout/_page_header.scss */
.page-header {
  -moz-box-shadow: 0px 0px 2px lightgray;
  -webkit-box-shadow: 0px 0px 2px lightgray;
  box-shadow: 0px 0px 2px lightgray;
  position: relative;
  background-color: #FFFBF5;
}
/* line 7, ../sass/layout/_page_header.scss */
.page-header nav {
  overflow: hidden;
}
/* line 10, ../sass/layout/_page_header.scss */
.page-header .menus {
  float: left;
}
/* line 12, ../sass/layout/_page_header.scss */
.page-header .menus .item {
  float: left;
  margin: 0 0 0 1rem;
  padding: 1.3rem 0;
}
/* line 16, ../sass/layout/_page_header.scss */
.page-header .menus .item:first-child {
  border-right: 1px solid lightgray;
  padding-right: 1rem;
}
/* line 20, ../sass/layout/_page_header.scss */
.page-header .menus .item a {
  text-decoration: none;
}
/* line 22, ../sass/layout/_page_header.scss */
.page-header .menus .item a .icon {
  border: 1px solid lightgray;
  color: #666666;
  font-size: .6rem;
  padding: .6rem;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
/* line 30, ../sass/layout/_page_header.scss */
.page-header .menus .item a .icon-quill {
  border: 0;
  background-color: #80A8CC;
  color: white;
}

/* line 42, ../sass/layout/_page_header.scss */
.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
/* line 47, ../sass/layout/_page_header.scss */
.logo .icon-twitter {
  font-size: 1.8rem;
  color: #80A8CC;
}

/* line 56, ../sass/layout/_page_header.scss */
.page-header nav {
  position: relative;
}
/* line 59, ../sass/layout/_page_header.scss */
.page-header .vertical-center, .page-header .search, .page-header .avator {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
/* line 64, ../sass/layout/_page_header.scss */
.page-header .search {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 2px lightgray;
  -webkit-box-shadow: 0px 0px 2px lightgray;
  box-shadow: 0px 0px 2px lightgray;
  padding-left: .2rem;
  right: 3.2rem;
  border: 1px solid lightgray;
}
/* line 71, ../sass/layout/_page_header.scss */
.page-header .search:hover {
  border: 0;
}
/* line 74, ../sass/layout/_page_header.scss */
.page-header .search:focus {
  outline: none;
}
/* line 79, ../sass/layout/_page_header.scss */
.page-header .avator {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  width: 1.8rem;
  height: 1.8rem;
  right: .5rem;
}

/* line 3, ../sass/layout/_leftaside.scss */
.page-left-aside {
  text-shadow: 0 0 1px lightgray;
  -moz-box-shadow: 0 0 1px gray;
  -webkit-box-shadow: 0 0 1px gray;
  box-shadow: 0 0 1px gray;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  float: left;
  width: 24rem;
  background-color: #80A8CC;
  color: white;
}
/* line 15, ../sass/layout/_leftaside.scss */
.page-left-aside .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 21, ../sass/layout/_leftaside.scss */
.page-left-aside .profile .avator {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  height: 9rem;
  width: 9rem;
  margin: 4rem 0 1rem;
}
/* line 29, ../sass/layout/_leftaside.scss */
.page-left-aside .profile .name {
  font-weight: bold;
  font-size: 1.6rem;
  padding: .8rem 0;
}
/* line 35, ../sass/layout/_leftaside.scss */
.page-left-aside .profile .intro {
  font-weight: lighter;
  width: 85%;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: center;
}
/* line 44, ../sass/layout/_leftaside.scss */
.page-left-aside .profile .link {
  font-size: 1.2rem;
  margin: 1rem 0 0;
}
/* line 48, ../sass/layout/_leftaside.scss */
.page-left-aside .profile .link a {
  color: white;
  text-decoration: none;
  outline: none;
}
/* line 55, ../sass/layout/_leftaside.scss */
.page-left-aside .profile .follow {
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  text-shadow: 0 0 1px lightgray;
  font-weight: lighter;
  color: white;
  background-color: #6C94B8;
  border: 0;
  font-size: 1.2rem;
  padding: 1rem 4.5rem;
  margin: 1.8rem 0 2rem;
}
/* line 71, ../sass/layout/_leftaside.scss */
.page-left-aside .gallery .album {
  overflow: hidden;
}
/* line 74, ../sass/layout/_leftaside.scss */
.page-left-aside .gallery .album .album-pic {
  width: 33.3%;
  height: 6.5rem;
  float: left;
  box-sizing: border-box;
  border: 0;
}
/* line 84, ../sass/layout/_leftaside.scss */
.page-left-aside .activities {
  padding-bottom: 2rem;
}
/* line 86, ../sass/layout/_leftaside.scss */
.page-left-aside .activities .title {
  font-size: 1.4rem;
  margin: 1.4rem 0 0 1.5rem;
}
/* line 91, ../sass/layout/_leftaside.scss */
.page-left-aside .activities .list {
  font-size: 1.2rem;
  margin: .7rem 0 0 1.5rem;
}
/* line 95, ../sass/layout/_leftaside.scss */
.page-left-aside .activities .list li {
  margin-bottom: .75rem;
}
/* line 99, ../sass/layout/_leftaside.scss */
.page-left-aside .activities .list i, .page-left-aside .activities .list span {
  margin-right: .6rem;
  color: #3b6992;
  text-shadow: 0 0 0;
  opacity: .5;
}
/* line 106, ../sass/layout/_leftaside.scss */
.page-left-aside .activities .list .active {
  margin-right: 0.15rem;
}
/* line 109, ../sass/layout/_leftaside.scss */
.page-left-aside .activities .list .target {
  color: white !important;
  opacity: 1 !important;
}

@font-face {
  font-family: 'IcoMoon-Free';
  src: url("../fonts/IcoMoon-Free.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 8, ../sass/vendor/_iconmoon.scss */
.icon {
  font-family: 'IcoMoon-Free';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 32, ../sass/main.scss */
body {
  background-color: #F2EEE8;
  font-family: Arial;
  font-size: 62.5%;
}

/* line 38, ../sass/main.scss */
section {
  font-size: 1.4rem;
}

/* line 42, ../sass/main.scss */
.page-content {
  margin-top: 3rem;
  margin-left: 25rem;
}

/* line 47, ../sass/main.scss */
.info {
  background-color: #FFFBF5;
  box-shadow: 0px 0px 2px lightgray;
  margin: 0 2rem 5rem 2rem;
  overflow: hidden;
}
/* line 54, ../sass/main.scss */
.info ul {
  float: left;
  width: 100%;
}
/* line 58, ../sass/main.scss */
.info ul li {
  box-sizing: border-box;
  float: left;
  padding: 2rem;
  width: 25%;
}
@media only screen and (max-width: 420px) {
  /* line 58, ../sass/main.scss */
  .info ul li {
    float: none;
    width: 100%;
  }
}
@media only screen and (min-width: 421px) and (max-width: 799px) {
  /* line 58, ../sass/main.scss */
  .info ul li {
    width: 50%;
  }
}
/* line 75, ../sass/main.scss */
.info .item {
  border-bottom: 5px solid #FFFBF5;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  text-shadow: .1px .1px .2px;
}
/* line 82, ../sass/main.scss */
.info .item:hover {
  border-bottom: 5px solid #7FA7CB;
}
/* line 85, ../sass/main.scss */
.info .item h4 {
  color: #D7D3C5;
}
/* line 89, ../sass/main.scss */
.info .item p {
  color: #666666;
  font-weight: bold;
}

/* line 97, ../sass/main.scss */
.post {
  background-color: #FFFBF5;
  box-shadow: 0px 0px 2px lightgray;
  margin: 0 2rem;
  padding: 2rem;
  position: relative;
  text-align: left;
  text-shadow: 0px 0px .4px gray;
}
/* line 106, ../sass/main.scss */
.post .content {
  font-family: Arial, Sans;
  margin-left: 4rem;
}
/* line 110, ../sass/main.scss */
.post .content span {
  margin-right: .1rem;
}
/* line 113, ../sass/main.scss */
.post .content span.name {
  color: #666666;
  font-weight: bold;
}
/* line 118, ../sass/main.scss */
.post .content span.account {
  color: #D7D3C5;
  font-weight: lighter;
}
/* line 123, ../sass/main.scss */
.post .content span.time {
  color: #D7D3C5;
  float: right;
  margin-right: 0;
}
/* line 131, ../sass/main.scss */
.post header {
  margin-bottom: 1rem;
}
/* line 137, ../sass/main.scss */
.post section p {
  color: #7B7872;
  font-weight: normal;
  line-height: 1.4;
}
/* line 143, ../sass/main.scss */
.post section img {
  margin-bottom: 1rem;
  width: 100%;
}
/* line 149, ../sass/main.scss */
.post footer {
  margin-top: .9rem;
}
/* line 151, ../sass/main.scss */
.post footer a {
  color: #C4BFAE;
  margin-right: 1rem;
  text-decoration: none;
}
/* line 158, ../sass/main.scss */
.post footer a:last-child {
  float: right;
  margin-right: 0;
}
/* line 163, ../sass/main.scss */
.post footer a:hover {
  color: #999073;
}
/* line 167, ../sass/main.scss */
.post footer i {
  font-weight: bold;
}

/* line 174, ../sass/main.scss */
.post .avator {
  height: 3rem;
  left: 2rem;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  top: 2rem;
  width: 3rem;
}
