@charset "UTF-8";
/* line 5, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'IcoMoon-Free';
  src: url("../fonts/IcoMoon-Free.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 8, ../sass/iconmoon.scss */
.icon {
  font-family: 'IcoMoon-Free';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 22, ../sass/style.scss */
body {
  font-size: 62.5%;
  text-align: center;
  background-color: #F4F3F1;
  max-width: 125rem;
}

/* line 28, ../sass/style.scss */
.hero {
  max-width: 95rem;
  margin: 0 auto;
  /*padding-bottom: 10%;*/
  padding-bottom: 12rem;
  background: url("../images/hero.png");
  background-size: cover;
}
/* line 36, ../sass/style.scss */
.hero header {
  overflow: hidden;
  *zoom: 1;
}
/* line 37, ../sass/style.scss */
.hero header img {
  margin: 0 auto;
  width: 10rem;
  height: 6rem;
  float: left;
}
/* line 43, ../sass/style.scss */
.hero header ul {
  float: right;
  color: white;
  padding: 0 8rem;
}
/* line 47, ../sass/style.scss */
.hero header ul li {
  font-family: Arial, Sans-serif;
  font-size: 1.1rem;
  float: left;
  border: 1px solid transparent;
  padding: 0.5rem .5rem;
  margin: 1rem 0;
  border-radius: 3px;
}
/* line 55, ../sass/style.scss */
.hero header ul li:last-child {
  border: 1px solid #ffffff;
  margin-left: .7rem;
  padding: .5rem .8rem;
}
/* line 65, ../sass/style.scss */
.hero h1 {
  font-family: Arial, Sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  color: white;
  margin-top: 15rem;
  margin-bottom: .8rem;
}
/* line 74, ../sass/style.scss */
.hero h2 {
  font-family: Arial, Sans-serif;
  font-size: 1.1rem;
  color: #B0B2B9;
}
/* line 80, ../sass/style.scss */
.hero form {
  padding: 1.5rem 0 15rem 0;
  /*@include inline-block;*/
  letter-spacing: -0.31em;
}
/* line 84, ../sass/style.scss */
.hero form input[type="text"] {
  font-size: 1.2rem;
  padding: 1.36rem 0rem 1.5rem 1rem;
  border: 0;
  width: 35%;
  border-radius: 5px 0 0 5px;
  color: white;
  background-color: rgba(217, 218, 218, 0.3);
}
/* line 61, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.hero form input[type="text"]:-moz-placeholder {
  color: white;
}
/* line 64, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.hero form input[type="text"]::-moz-placeholder {
  color: white;
}
/* line 67, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.hero form input[type="text"]:-ms-input-placeholder {
  color: white;
}
/* line 56, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.hero form input[type="text"]::-webkit-input-placeholder {
  color: white;
}
/* line 97, ../sass/style.scss */
.hero form input[type="button"] {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  font-family: Arial, Sans-serif;
  text-align: center;
  color: #ffffff;
  padding: 1.5rem 2rem;
  border: 0;
  background-color: #67DDAB;
  border-radius: 0 5px 5px 0;
}

/* line 113, ../sass/style.scss */
.numbers {
  margin: 0 auto;
  width: 70%;
  max-width: 70rem;
}
/* line 117, ../sass/style.scss */
.numbers ul {
  position: relative;
  top: -7rem;
  background: #F4F3F1;
  border-radius: 5px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 123, ../sass/style.scss */
.numbers ul li {
  float: left;
  width: 25%;
  box-sizing: border-box;
  border-top: 1px solid #D9DADA;
  border-bottom: 3px solid #D9DADA;
  border-left: 1px solid #D9DADA;
  padding: 1rem 0rem;
}
/* line 131, ../sass/style.scss */
.numbers ul li:last-child {
  border-right: 1px solid #D9DADA;
}
/* line 135, ../sass/style.scss */
.numbers ul li h2 {
  font-family: Sans;
  font-weight: bold;
  font-size: 2rem;
  padding: 2rem 0 1rem 0;
  color: #60677A;
}
/* line 143, ../sass/style.scss */
.numbers ul li h3 {
  font-family: Arial, Sans-serif;
  font-size: 1.1rem;
  color: gray;
  padding: 0 0 1.8rem 0;
}

/* line 155, ../sass/style.scss */
.title {
  text-transform: uppercase;
  font-family: Arial, Sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: #60677A;
}
/* line 161, ../sass/style.scss */
.title:after {
  display: block;
  content: "";
  background-color: lightgray;
  width: 3rem;
  height: .2rem;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 0.4rem auto 0 auto;
}

/* line 172, ../sass/style.scss */
.how-it-works {
  max-width: 90rem;
  margin: 0 auto;
  background-color: #F4F3F1;
}
/* line 177, ../sass/style.scss */
.how-it-works ul {
  margin: 4em 0 8em 0;
  overflow: auto;
}
/* line 180, ../sass/style.scss */
.how-it-works ul li {
  float: left;
  width: 33.3%;
  box-sizing: border-box;
}
/* line 182, ../sass/style.scss */
.how-it-works ul li:before {
  display: block;
  content: "";
  background-color: lightgray;
  height: 3px;
  position: relative;
  top: 3.5rem;
  left: 50%;
  margin: 0 2rem 0 2.0rem;
}
/* line 194, ../sass/style.scss */
.how-it-works ul li:last-child:before {
  display: none;
}
/* line 202, ../sass/style.scss */
.how-it-works ul li .number {
  font-size: 1.8rem;
  color: gray;
  border: 3px solid lightgray;
  width: 2.5rem;
  height: 2.5rem;
  display: block;
  line-height: 2.5rem;
  margin: 1rem auto 4rem auto;
  padding: .4em;
  font-family: Arial, Sans-serif;
  font-weight: bold;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
/* line 219, ../sass/style.scss */
.how-it-works ul li p {
  font-family: serif;
  font-size: 1.2rem;
  color: darkgray;
  text-align: center;
  line-height: 1.7rem;
  margin: auto;
  width: 80%;
}
/* line 231, ../sass/style.scss */
.how-it-works:after {
  content: "";
  display: block;
  background-color: lightgray;
  height: 2px;
  max-width: 100rem;
}

/* line 240, ../sass/style.scss */
.icon {
  font-size: 5rem;
}

/* line 243, ../sass/style.scss */
.icon-profile:before {
  margin: 2rem auto;
  color: #ECA95A;
  content: "\e923";
}

/* line 249, ../sass/style.scss */
.icon-pencil:before {
  color: #AD9DD3;
  content: "\e905";
}

/* line 254, ../sass/style.scss */
.icon-people:before {
  color: #4D99CB;
  content: "\e9de";
}

/* line 259, ../sass/style.scss */
.icon-title {
  margin: 2rem auto 1rem auto;
  font-family: Arial, Sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #60677A;
}

/* line 267, ../sass/style.scss */
.icon-quick:before {
  content: "\ea10";
  color: #66BE96;
}

/* line 272, ../sass/style.scss */
.icon-easy:before {
  content: "\ea2e";
  color: #ECA95A;
}

/* line 277, ../sass/style.scss */
.icon-free:before {
  content: "\e935";
  color: #01B4EA;
}

/* line 282, ../sass/style.scss */
.icon-independent:before {
  content: "\e971";
  color: #AF7AC4;
}

/* line 287, ../sass/style.scss */
.icon-comprehensive:before {
  content: "\e922";
  color: #F26D7E;
}

/* line 292, ../sass/style.scss */
.icon-awesome:before {
  content: "\e9d9";
  color: #ED7F5B;
}

/* line 297, ../sass/style.scss */
.icon-small {
  font-size: 2.5rem;
}

/* line 300, ../sass/style.scss */
.why-choose-us {
  max-width: 100rem;
  margin: 5rem auto 0 auto;
}
/* line 303, ../sass/style.scss */
.why-choose-us .title {
  margin-bottom: 5rem;
}
/* line 307, ../sass/style.scss */
.why-choose-us ul {
  max-width: 100rem;
  width: 85%;
  margin: 0 auto;
}
/* line 312, ../sass/style.scss */
.why-choose-us ul li {
  display: inline-block;
  box-sizing: border-box;
  width: 45%;
  margin-bottom: 2rem;
  margin-left: 3%;
}
/* line 318, ../sass/style.scss */
.why-choose-us ul li .icon {
  width: 20%;
  height: 100%;
  float: left;
  display: inline-block;
}
/* line 325, ../sass/style.scss */
.why-choose-us ul li .icon-title {
  float: left;
  margin: 0 auto 1rem auto;
}
/* line 330, ../sass/style.scss */
.why-choose-us ul li p {
  clear: both;
  font-family: Arial, Sans-serif;
  font-size: 1.2rem;
  color: darkgray;
  line-height: 1.5rem;
  text-align: left;
  margin-left: 20%;
  margin-right: 10%;
}
/* line 342, ../sass/style.scss */
.why-choose-us:after {
  margin: 0 auto;
  display: block;
  content: "";
  background-color: lightgray;
  height: 3px;
  max-width: 90rem;
}

/* line 354, ../sass/style.scss */
.feedback {
  margin-top: 4rem;
}
/* line 357, ../sass/style.scss */
.feedback header {
  letter-spacing: -1rem;
}
/* line 359, ../sass/style.scss */
.feedback header .feedback-button, .feedback header .feedback-test, .feedback header .feedback-recent {
  padding: 1rem;
  width: 12rem;
  height: 4rem;
  font-family: Arial, Sans-serif;
  font-weight: bold;
  border: 2px solid #60677A;
  font-size: .8rem;
}
/* line 369, ../sass/style.scss */
.feedback header .feedback-test {
  background-color: #60677A;
  color: white;
  border-radius: 4px 0 0 4px;
}
/* line 376, ../sass/style.scss */
.feedback header .feedback-recent {
  background-color: #F4F3F1;
  color: #60677A;
  border-radius: 0 4px 4px 0;
}
/* line 384, ../sass/style.scss */
.feedback .feedback-detail {
  width: 60%;
  max-width: 100rem;
  margin: 3rem auto 0 auto;
}
/* line 388, ../sass/style.scss */
.feedback .feedback-detail .feedback-content {
  font-family: Arial, Sans-serif;
  font-size: 1.5rem;
  color: #60677A;
  line-height: 1.7rem;
  font-weight: bold;
}
/* line 395, ../sass/style.scss */
.feedback .feedback-detail .feedback-content:before {
  font-family: serif;
  content: "“";
  display: block;
  height: 5rem;
  line-height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 5rem;
  margin: 0 auto;
  color: #D9DADA;
}
/* line 408, ../sass/style.scss */
.feedback .feedback-detail .feedback-content:after {
  content: "";
  display: block;
  width: 2rem;
  height: 2px;
  background-color: #D9DADA;
  margin: 2rem auto;
}
/* line 419, ../sass/style.scss */
.feedback .feedback-detail .feedback-name {
  font-family: Arial, Sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  color: #60677A;
}
/* line 426, ../sass/style.scss */
.feedback .feedback-detail .feedback-job {
  margin: .8rem auto;
  font-family: Arial, Sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #A0A5B0;
}
/* line 435, ../sass/style.scss */
.feedback .feedback-pics {
  margin: 3rem auto 0 auto;
  overflow: hidden;
  text-align: center;
  width: 39%;
}
/* line 440, ../sass/style.scss */
.feedback .feedback-pics .feedback-pic {
  margin: 6%;
  padding: .4rem;
  float: left;
  width: 20%;
  /*height: 8rem;*/
  /*width: 7rem;*/
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  box-sizing: border-box;
  display: block;
  opacity: .5;
}
/* line 453, ../sass/style.scss */
.feedback .feedback-pics .pic-middle {
  border: 3px solid #D9DADA;
  opacity: 1;
}

/* line 460, ../sass/style.scss */
.footer-search {
  max-width: 80rem;
  margin: 4rem auto 0 auto;
  background: url("../images/footer-pic.jpg");
  background-size: contain;
  border: 0;
  /*opacity: .5;*/
  padding: 6rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
/* line 472, ../sass/style.scss */
.footer-search .footer-side {
  font-family: Arial, Sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
  /*height: 2.2rem;;*/
  /*line-height: 2.2rem;*/
}
/* line 484, ../sass/style.scss */
.footer-search .footer-search-input {
  /*padding: .5rem 2rem .5rem .5rem;*/
  padding-left: .5rem;
  width: 50%;
  height: 2.8rem;
  border: 1px solid #D9DADA;
  border-radius: 4px 0 0 4px;
}
/* line 61, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.footer-search .footer-search-input:-moz-placeholder {
  color: #60677A;
  font-family: Arial, Sans-serif;
}
/* line 64, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.footer-search .footer-search-input::-moz-placeholder {
  color: #60677A;
  font-family: Arial, Sans-serif;
}
/* line 67, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.footer-search .footer-search-input:-ms-input-placeholder {
  color: #60677A;
  font-family: Arial, Sans-serif;
}
/* line 56, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.footer-search .footer-search-input::-webkit-input-placeholder {
  color: #60677A;
  font-family: Arial, Sans-serif;
}
/* line 497, ../sass/style.scss */
.footer-search .footer-search-button {
  width: 6rem;
  text-transform: uppercase;
  font-family: Arial, Sans-serif;
  font-weight: bold;
  color: white;
  background-color: #67DDAB;
  border: 0px solid;
  border-radius: 0 4px 4px 0;
}

/* line 509, ../sass/style.scss */
footer {
  margin: 1.5rem auto;
  width: 85%;
  max-width: 80rem;
  overflow: hidden;
}
/* line 516, ../sass/style.scss */
footer ul li {
  float: left;
}
/* line 518, ../sass/style.scss */
footer ul li a {
  line-height: 2rem;
  text-decoration: none;
  font-family: Arial, Sans-serif;
  font-size: 1.3rem;
  margin: .7rem;
  color: #60677A;
}
/* line 529, ../sass/style.scss */
footer .tp-icons {
  float: right;
  margin-right: 5rem;
}
/* line 533, ../sass/style.scss */
footer .tp-icons li {
  margin: auto 1.5rem auto auto;
}
/* line 536, ../sass/style.scss */
footer .tp-icons .icon-footer {
  font-size: 1.5rem;
}
/* line 539, ../sass/style.scss */
footer .tp-icons .icon-twitter:before {
  content: "\ea91";
  color: #4D99CB;
}
/* line 544, ../sass/style.scss */
footer .tp-icons .icon-facebook:before {
  content: "\ea8c";
  color: #4C73B6;
}
