@charset "UTF-8";
/* line 5, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/* line 22, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
    line-height: 1;
}

/* line 24, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
    list-style: none;
}

/* line 26, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* line 28, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
}

/* line 30, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
    quotes: none;
}

/* line 103, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

/* line 32, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
    border: none;
}

/* line 116, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

@font-face {
    font-family: 'IcoMoon-Free';
    src: url("../fonts/IcoMoon-Free.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* line 8, ../sass/iconmoon.scss */
.icon {
    font-family: 'IcoMoon-Free';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
    speak: none;
    /* Enable Ligatures ================ */
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* line 22, ../sass/style.scss */
body {
    background-color: #F4F3F1;
    font-size: 62.5%;
    max-width: 125rem;
    text-align: center;
}

/* line 29, ../sass/style.scss */
.hero {
    background: url("../images/hero.png");
    background-size: cover;
    /*padding-bottom: 10%;*/
    margin: 0 auto;
    max-width: 95rem;
    padding-bottom: 12rem;
}

/* line 38, ../sass/style.scss */
.hero header {
    overflow: hidden;
    *zoom: 1;
}

/* line 39, ../sass/style.scss */
.hero header img {
    float: left;
    height: 6rem;
    margin: 0 auto;
    width: 10rem;
}

/* line 46, ../sass/style.scss */
.hero header ul {
    color: white;
    float: right;
    padding: 0 8rem;
}

/* line 51, ../sass/style.scss */
.hero header ul li {
    border: 1px solid transparent;
    border-radius: 3px;
    float: left;
    font-family: Arial, Sans-serif;
    font-size: 1.1rem;
    margin: 1rem 0;
    padding: 0.5rem .5rem;
}

/* line 60, ../sass/style.scss */
.hero header ul li:last-child {
    border: 1px solid #ffffff;
    margin-left: .7rem;
    padding: .5rem .8rem;
}

/* line 71, ../sass/style.scss */
.hero h1 {
    color: white;
    font-family: Arial, serif;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: .8rem;
    margin-top: 15rem;
}

/* line 80, ../sass/style.scss */
.hero h2 {
    color: #B0B2B9;
    font-family: Arial, serif;
    font-size: 1.1rem;
}

/* line 86, ../sass/style.scss */
.hero form {
    letter-spacing: -0.31em;
    /*@include inline-block;*/
    padding: 1.5rem 0 15rem 0;
}

/* line 92, ../sass/style.scss */
.hero form input[type="text"] {
    background-color: rgba(217, 218, 218, 0.3);
    border: 0;
    border-radius: 5px 0 0 5px;
    color: white;
    font-size: 1.2rem;
    padding: 1.36rem 0rem 1.5rem 1rem;
    width: 35%;
}

/* line 61, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.hero form input[type="text"]:-moz-placeholder {
    color: white;
}

/* line 64, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.hero form input[type="text"]::-moz-placeholder {
    color: white;
}

/* line 67, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.hero form input[type="text"]:-ms-input-placeholder {
    color: white;
}

/* line 56, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.hero form input[type="text"]::-webkit-input-placeholder {
    color: white;
}

/* line 106, ../sass/style.scss */
.hero form input[type="button"] {
    background-color: #67DDAB;
    border: 0;
    border-radius: 0 5px 5px 0;
    color: #ffffff;
    font-family: Arial, serif;
    font-size: 1rem;
    font-weight: bold;
    padding: 1.5rem 2rem;
    text-align: center;
    text-transform: uppercase;
}

/* line 121, ../sass/style.scss */
.numbers {
    margin: 0 auto;
    max-width: 70rem;
    width: 70%;
}

/* line 126, ../sass/style.scss */
.numbers ul {
    background: #F4F3F1;
    border-radius: 5px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: -7rem;
    *zoom: 1;
}

/* line 133, ../sass/style.scss */
.numbers ul li {
    border-bottom: 3px solid #D9DADA;
    border-left: 1px solid #D9DADA;
    border-top: 1px solid #D9DADA;
    box-sizing: border-box;
    float: left;
    padding: 1rem 0rem;
    width: 25%;
}

/* line 142, ../sass/style.scss */
.numbers ul li:last-child {
    border-right: 1px solid #D9DADA;
}

/* line 146, ../sass/style.scss */
.numbers ul li h2 {
    color: #60677A;
    font-family: Arial, serif;
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem 0 1rem 0;
}

/* line 154, ../sass/style.scss */
.numbers ul li h3 {
    color: gray;
    font-family: Arial, serif;
    font-size: 1.1rem;
    padding: 0 0 1.8rem 0;
}

/* line 166, ../sass/style.scss */
.title {
    color: #60677A;
    font-family: Arial, serif;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}

/* line 173, ../sass/style.scss */
.title:after {
    background-color: lightgray;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    content: '';
    display: block;
    height: .2rem;
    margin: 0.4rem auto 0 auto;
    width: 3rem;
}

/* line 186, ../sass/style.scss */
.how-it-works {
    background-color: #F4F3F1;
    margin: 0 auto;
    max-width: 90rem;
}

/* line 191, ../sass/style.scss */
.how-it-works ul {
    margin: 4em 0 8em 0;
    overflow: auto;
}

/* line 195, ../sass/style.scss */
.how-it-works ul li {
    box-sizing: border-box;
    float: left;
    width: 33.3%;
}

/* line 196, ../sass/style.scss */
.how-it-works ul li:before {
    background-color: lightgray;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    margin: 0 2rem 0 2.0rem;
    position: relative;
    top: 3.5rem;
}

/* line 207, ../sass/style.scss */
.how-it-works ul li:last-child:before {
    display: none;
}

/* line 215, ../sass/style.scss */
.how-it-works ul li .number {
    border: 3px solid lightgray;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    color: gray;
    display: block;
    font-family: Arial, serif;
    font-size: 1.8rem;
    font-weight: bold;
    height: 2.5rem;
    line-height: 2.5rem;
    margin: 1rem auto 4rem auto;
    padding: .4em;
    width: 2.5rem;
}

/* line 231, ../sass/style.scss */
.how-it-works ul li p {
    color: darkgray;
    font-family: serif;
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin: auto;
    text-align: center;
    width: 80%;
}

/* line 243, ../sass/style.scss */
.how-it-works:after {
    background-color: lightgray;
    content: "";
    display: block;
    height: 2px;
    max-width: 100rem;
}

/* line 252, ../sass/style.scss */
.icon {
    font-size: 5rem;
}

/* line 256, ../sass/style.scss */
.icon-profile:before {
    color: #ECA95A;
    content: "\e923";
    margin: 2rem auto;
}

/* line 262, ../sass/style.scss */
.icon-pencil:before {
    color: #AD9DD3;
    content: "\e905";
}

/* line 267, ../sass/style.scss */
.icon-people:before {
    color: #4D99CB;
    content: "\e9de";
}

/* line 272, ../sass/style.scss */
.icon-title {
    color: #60677A;
    font-family: Arial, Sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem auto 1rem auto;
}

/* line 280, ../sass/style.scss */
.icon-quick:before {
    color: #66BE96;
    content: "\ea10";
}

/* line 285, ../sass/style.scss */
.icon-easy:before {
    color: #ECA95A;
    content: "\ea2e";
}

/* line 290, ../sass/style.scss */
.icon-free:before {
    color: #01B4EA;
    content: "\e935";
}

/* line 295, ../sass/style.scss */
.icon-independent:before {
    color: #AF7AC4;
    content: "\e971";
}

/* line 300, ../sass/style.scss */
.icon-comprehensive:before {
    color: #F26D7E;
    content: "\e922";
}

/* line 305, ../sass/style.scss */
.icon-awesome:before {
    color: #ED7F5B;
    content: "\e9d9";
}

/* line 310, ../sass/style.scss */
.icon-small {
    font-size: 2.5rem;
}

/* line 314, ../sass/style.scss */
.why-choose-us {
    margin: 5rem auto 0 auto;
    max-width: 100rem;
}

/* line 318, ../sass/style.scss */
.why-choose-us .title {
    margin-bottom: 5rem;
}

/* line 322, ../sass/style.scss */
.why-choose-us ul {
    margin: 0 auto;
    max-width: 100rem;
    width: 85%;
}

/* line 327, ../sass/style.scss */
.why-choose-us ul li {
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 2rem;
    margin-left: 3%;
    width: 45%;
}

/* line 334, ../sass/style.scss */
.why-choose-us ul li .icon {
    display: inline-block;
    float: left;
    height: 100%;
    width: 20%;
}

/* line 341, ../sass/style.scss */
.why-choose-us ul li .icon-title {
    float: left;
    margin: 0 auto 1rem auto;
}

/* line 346, ../sass/style.scss */
.why-choose-us ul li p {
    clear: both;
    color: darkgray;
    font-family: Arial, Sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-left: 20%;
    margin-right: 10%;
    text-align: left;
}

/* line 359, ../sass/style.scss */
.why-choose-us:after {
    background-color: lightgray;
    content: "";
    display: block;
    height: 3px;
    margin: 0 auto;
    max-width: 90rem;
}

/* line 372, ../sass/style.scss */
.feedback {
    margin-top: 4rem;
}

/* line 375, ../sass/style.scss */
.feedback header {
    letter-spacing: -1rem;
}

/* line 378, ../sass/style.scss */
.feedback header .feedback-button, .feedback header .feedback-test, .feedback header .feedback-recent {
    border: 2px solid #60677A;
    font-family: Arial, Sans-serif;
    font-size: .8rem;
    font-weight: bold;
    height: 4rem;
    padding: 1rem;
    width: 12rem;
}

/* line 390, ../sass/style.scss */
.feedback header .feedback-test {
    background-color: #60677A;
    border-radius: 4px 0 0 4px;
    color: white;
}

/* line 398, ../sass/style.scss */
.feedback header .feedback-recent {
    background-color: #F4F3F1;
    border-radius: 0 4px 4px 0;
    color: #60677A;
}

/* line 408, ../sass/style.scss */
.feedback .feedback-detail {
    margin: 3rem auto 0 auto;
    max-width: 100rem;
    width: 60%;
}

/* line 413, ../sass/style.scss */
.feedback .feedback-detail .feedback-content {
    color: #60677A;
    font-family: Arial, Sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.7rem;
}

/* line 420, ../sass/style.scss */
.feedback .feedback-detail .feedback-content:before {
    color: #D9DADA;
    content: "“";
    display: block;
    font-family: serif;
    font-size: 5rem;
    height: 5rem;
    line-height: 5rem;
    margin: 0 auto;
    text-align: center;
    width: 5rem;
}

/* line 433, ../sass/style.scss */
.feedback .feedback-detail .feedback-content:after {
    background-color: #D9DADA;
    content: "";
    display: block;
    height: 2px;
    margin: 2rem auto;
    width: 2rem;
}

/* line 443, ../sass/style.scss */
.feedback .feedback-detail .feedback-name {
    color: #60677A;
    font-family: Arial, Sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

/* line 450, ../sass/style.scss */
.feedback .feedback-detail .feedback-job {
    color: #A0A5B0;
    font-family: Arial, Sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    margin: .8rem auto;
}

/* line 459, ../sass/style.scss */
.feedback .feedback-pics {
    margin: 3rem auto 0 auto;
    overflow: hidden;
    text-align: center;
    width: 39%;
}

/* line 465, ../sass/style.scss */
.feedback .feedback-pics .feedback-pic {
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    box-sizing: border-box;
    /*height: 8rem;*/
    /*width: 7rem;*/
    display: block;
    float: left;
    margin: 6%;
    opacity: .5;
    padding: .4rem;
    width: 20%;
}

/* line 480, ../sass/style.scss */
.feedback .feedback-pics .pic-middle {
    border: 3px solid #D9DADA;
    opacity: 1;
}

/* line 487, ../sass/style.scss */
.footer-search {
    background: url("../images/footer-pic.jpg");
    background-size: contain;
    border: 0;
    margin: 4rem auto 0 auto;
    max-width: 80rem;
    overflow: hidden;
    padding: 6rem;
    text-align: center;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: stretch;*/
}

/* line 500, ../sass/style.scss */
.footer-search ul {
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    width: 85%;
}

/* line 507, ../sass/style.scss */
.footer-search li {
    box-sizing: border-box;
    float: left;
}

/* line 512, ../sass/style.scss */
.footer-search li:first-child {
    padding-right: 2%;
    width: 30%;
}

/* line 517, ../sass/style.scss */
.footer-search li:last-child {
    width: 70%;
}

/* line 521, ../sass/style.scss */
.footer-search .footer-side {
    color: white;
    font-family: Arial, Sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    height: 2.8rem;
    line-height: 2.8rem;
    white-space: nowrap;
}

/* line 531, ../sass/style.scss */
.footer-search div {
    height: 2.8rem;
    letter-spacing: -0.31rem;
}

/* line 535, ../sass/style.scss */
.footer-search div input {
    box-sizing: border-box;
    float: left;
}

/* line 541, ../sass/style.scss */
.footer-search .footer-search-input {
    border: 0;
    border-radius: 4px 0 0 4px;
    height: 2.8rem;
    padding-left: .5rem;
    width: 75%;
}

/* line 61, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.footer-search .footer-search-input:-moz-placeholder {
    color: #60677A;
    font-family: Arial, Sans-serif;
}

/* line 64, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.footer-search .footer-search-input::-moz-placeholder {
    color: #60677A;
    font-family: Arial, Sans-serif;
}

/* line 67, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.footer-search .footer-search-input:-ms-input-placeholder {
    color: #60677A;
    font-family: Arial, Sans-serif;
}

/* line 56, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.footer-search .footer-search-input::-webkit-input-placeholder {
    color: #60677A;
    font-family: Arial, Sans-serif;
}

/* line 554, ../sass/style.scss */
.footer-search .footer-search-button {
    background-color: #67DDAB;
    border: 0;
    border-radius: 0 4px 4px 0;
    color: white;
    font-family: Arial, Sans-serif;
    font-weight: bold;
    height: 2.8rem;
    padding: 0;
    text-transform: uppercase;
    width: 25%;
}

/* line 568, ../sass/style.scss */
footer {
    margin: 1.5rem auto;
    max-width: 80rem;
    overflow: hidden;
    width: 85%;
}

/* line 574, ../sass/style.scss */
footer .tp-links {
    float: left;
    overflow: hidden;
}

/* line 577, ../sass/style.scss */
footer .tp-links li {
    float: left;
}

/* line 580, ../sass/style.scss */
footer .tp-links a {
    color: #60677A;
    font-family: Arial, Sans-serif;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-right: .7rem;
    text-decoration: none;
}

/* line 590, ../sass/style.scss */
footer .tp-icons {
    float: right;
    width: 15%;
}

/* line 594, ../sass/style.scss */
footer .tp-icons li {
    float: right;
}

/* line 598, ../sass/style.scss */
footer .tp-icons .icon-footer {
    font-size: 1.5rem;
    height: 2rem;
    line-height: 2rem;
}

/* line 604, ../sass/style.scss */
footer .tp-icons .icon-twitter:before {
    color: #4D99CB;
    content: '\ea91';
    margin-left: 1rem;
}

/* line 610, ../sass/style.scss */
footer .tp-icons .icon-facebook:before {
    color: #4C73B6;
    content: '\ea8c';
}
