$post-bg-color: #FFFBF5;
$content-bg-color: #F2EEE8;
$light-blue-bg-color: #80A8CC;
$darkblue-button-color: #6C94B8;

$content-icon-color: #C4BFAE;
$number-border-bottom-color: #7FA7CB;

$gray-text-color: #D7D3C5;
$lightdark-text-color: #7B7872;
$boldlightdark-text-color: lighten(black, 40%);