@import "compass";
@import "compass/reset";

@import "base/vars";

@import "components/icon";

@import "layout/page_header";
@import "layout/leftaside";

@import "vendor/iconmoon";
$break-small: 420px;
$break-large: 800px;

// 实现响应式布局的nd (max-width: $break-small) {
@mixin response-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) {
      @content;
    }
  } @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) {
      @content;
    }
  } @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) {
      @content;
    }
  }
}

body {
  background-color: $content-bg-color;
  font-family: Arial;
  font-size: 62.5%;
}

section {
  font-size: 1.4rem;
}

.page-content {
  margin-top: 3rem;
  //margin-left: 25rem;
  margin-left: 20%;
}

.info {
  background-color: $post-bg-color;

  box-shadow: 0px 0px 2px lightgray;
  margin: 0 4rem 5rem 4rem;
  overflow: hidden;

  ul {
    float: left;

    width: 100%;
    li {
      box-sizing: border-box;
      float: left;
      padding: 2rem;
      width: 25%;

      @include response-to(handhelds) {
        float: none;
        width: 100%;
      }

      @include response-to(medium-screens) {
        width: 50%;
      }
    }
  }

  .item {
    border-bottom: 5px solid $post-bg-color;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
    text-shadow: .1px .1px .2px;

    &:hover {
      border-bottom: 5px solid $number-border-bottom-color;
    }
    h4 {
      color: $gray-text-color;
    }

    p {
      color: $boldlightdark-text-color;
      font-weight: bold;
    }

  }
}

.post {
  background-color: $post-bg-color;
  box-shadow: 0px 0px 2px lightgray;
  margin: 0 4rem;
  padding: 2rem;
  position: relative;
  text-align: left;

  text-shadow: 0px 0px .4px gray;
  .content {
    font-family: Arial, Sans;
    margin-left: 4rem;

    span {
      margin-right: .1rem;

      &.name {
        color: $boldlightdark-text-color;
        font-weight: bold;
      }

      &.account {
        color: $gray-text-color;
        font-weight: lighter;
      }

      &.time {
        color: $gray-text-color;
        float: right;
        margin-right: 0;
      }
    }
  }

  header {
    margin-bottom: 1rem;
  }

  section {

    p {
      color: $lightdark-text-color;
      font-weight: normal;
      line-height: 1.4;
    }

    img {
      margin-bottom: 1rem;
      width: 100%;
    }
  }

  footer {
    margin-top: .9rem;
    a {
      color: $content-icon-color;

      margin-right: 1rem;

      text-decoration: none;

      &:last-child {
        float: right;
        margin-right: 0;
      }

      &:hover {
        color: darken($content-icon-color, 20%);
      }
    }
    i {
      font-weight: bold;
    }
  }

}

.post .avator {
  height: 3rem;
  left: 2rem;
  @include border-radius(100%);
  position: absolute;
  top: 2rem;
  width: 3rem;
}