@import "compass";
@import "compass/reset";

@import "base/vars";

@import "components/icon";

@import "layout/page_header";
@import "layout/leftaside";

@import "vendor/iconmoon";


// 实现响应式布局的写法
$break-small: 420px;
$break-large: 800px;

@mixin response-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) {@content;}
  } @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content;}
  } @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content;}
  }
}

body {
  font-size: 62.5%;
  font-family: Arial; 
  background-color: $content-bg-color;
}

section {
  font-size: .8rem;
}

.info {
  margin: 0 2rem 5rem 2rem;

  box-shadow: 0px 0px 2px lightgray;
  background-color: $post-bg-color;
  overflow: hidden;


  ul {
    float: left;

    width: 100%;
    li {
      padding: 1rem;
      float: left;
      box-sizing: border-box;
      width: 25%;
      
      @include response-to(handhelds) {
        float: none;
        width: 100%;
      }

      @include response-to(medium-screens) {
        width: 50%;
      }
    }
  }

  .item {
    font-size: .9rem;
    text-align: center;
    line-height: 1.3rem;
    text-shadow: .1px .1px .2px;
    border-bottom: 5px solid $post-bg-color;

    &:hover {
      border-bottom: 5px solid $number-border-bottom-color;
    }
    h4 {
      color: $gray-text-color;
    }

    p {
      font-weight: bold;
      color: $boldlightdark-text-color;
    }

  }
}

.post {
  margin: 0 2rem;
  position: relative;
  text-align: left;
  padding: 2rem;
  background-color: $post-bg-color;
  box-shadow: 0px 0px 2px lightgray;

  text-shadow: 0px 0px .4px gray;
  .content {
    margin-left: 4rem;
    font-family: Arial, Sans;

    span {
      margin-right: .1rem;

      &.name {
        font-weight: bold;
        color: $boldlightdark-text-color;
      }
      
      &.account {
        font-weight: lighter;
        color: $gray-text-color;
      }
      
      &.time {
        color: $gray-text-color;
        float: right;
        margin-right: 0;
      }
    }
  }
  
  header {
    margin-bottom: 1rem;
  }

  section {

    p {
      font-weight: normal;
      color: $lightdark-text-color;
      line-height: 1.4;
    }
    
    img {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
  
  footer {
    margin-top: .9rem;
    a {
      margin-right: 1rem;

      color: $content-icon-color;

      text-decoration: none;

      &:last-child {
        float: right;
        margin-right: 0;
      }

      &:hover {
        color: darken($content-icon-color, 20%);
      }
    }
     i {
       font-weight: bold;
     }
    .icon-redo:before {
      content: '\e968';
    }
    
    .icon-star:before {
      content: '\e9d9';
    }

    .icon-loop:before {
      content: '\ea2e';
    }

    .icon-ellipsis:before {
      content: '\e935';
    }

    .icon-maximize:before {
      content: '\e98b';
    }
  }

}
img {
  width: 3rem;
  height: 3rem;
  @include border-radius(100%);
  position: absolute;
  top: 2rem;
  left: 2rem;
}