@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";
@import "iconmoon";

$highlight-text-color: #ffffff;
$button-color: #67DDAB;
$search-text-color: #9A9D #F4F3F1;
$secondyor:condy-text-opacity-c-text-color: #D9DADA;
$se0.3);
$title-color: rgba(217, 218, 218, A7;
$bg-cololor: #60677A;

$icon-quick: #66BE96;
$icon-easy: #ECA95A;
$icon-free: #01B4EA;
$icon-independent: #AF7AC4;
$icon-comprehensive: #F26D7E;
$icon-awesome: #ED7F5B;

body {
  background-color: $bg-color;
  font-size: 62.5%;
  max-width: 125rem;
  text-align: center;
}

.hero {
  background: url("../images/hero.png");
  background-size: cover;

  /*padding-bottom: 10%;*/
  margin: 0 auto;
  max-width: 95rem;
  padding-bottom: 12rem;

  header {
    img {
      float: left;
      height: 6rem;
      margin: 0 auto;
      width: 10rem;
    }

    ul {
      color: white;
      float: right;
      padding: 0 8rem;

      li {
        border: 1px solid transparent;
        border-radius: 3px;
        float: left;
        font-family: Arial, Sans-serif;
        font-size: 1.1rem;
        margin: 1rem 0;
        padding: 0.5rem .5rem;

        &:last-child {
          border: 1px solid $highlight-text-color;
          margin-left: .7rem;
          padding: .5rem .8rem;
        }
      }
    }

    @include clearfix;
  }

  h1 {
    color: white;
    font-family: Arial, serif;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: .8rem;
    margin-top: 15rem;
  }

  h2 {
    color: #B0B2B9;
    font-family: Arial, serif;
    font-size: 1.1rem;
  }

  form {
    letter-spacing: -0.31em;

    /*@include inline-block;*/
    padding: 1.5rem 0 15rem 0;

    input[type="text"] {
      background-color: $secondy-text-opacity-color;
      border: 0;
      border-radius: 5px 0 0 5px;
      color: white;
      font-size: 1.2rem;
      padding: 1.36rem 0rem 1.5rem 1rem;
      width: 35%;

      @include input-placeholder {
        color: white;
      }
    }

    input[type="button"] {
      background-color: $button-color;
      border: 0;
      border-radius: 0 5px 5px 0;
      color: $highlight-text-color;
      font-family: Arial, serif;
      font-size: 1rem;
      font-weight: bold;
      padding: 1.5rem 2rem;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

.numbers {
  margin: 0 auto;
  max-width: 70rem;
  width: 70%;

  ul {
    background: $bg-color;
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
    top: -7rem;

    li {
      border-bottom: 3px solid $secondy-text-color;
      border-left: 1px solid $secondy-text-color;
      border-top: 1px solid $secondy-text-color;
      box-sizing: border-box;
      float: left;
      padding: 1rem 0rem;
      width: 25%;

      &:last-child {
        border-right: 1px solid $secondy-text-color;
      }

      h2 {
        color: $title-color;
        font-family: Arial, serif;
        font-size: 2rem;
        font-weight: bold;
        padding: 2rem 0 1rem 0;
      }

      h3 {
        color: gray;
        font-family: Arial, serif;
        font-size: 1.1rem;
        padding: 0 0 1.8rem 0;
      }
    }

    @include clearfix;
  }
}

.title {
  color: $title-color;
  font-family: Arial, serif;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;

  &:after {
    background-color: lightgray;
    content: '';
    display: block;
    height: .2rem;
    margin: 0.4rem auto 0 auto;

    @include border-radius(3px);

    width: 3rem;
  }
}

.how-it-works {
  background-color: $bg-color;
  margin: 0 auto;
  max-width: 90rem;

  ul {
    margin: 4em 0 8em 0;
    overflow: auto;

    li {
      &:before box-sizing: border-box

      &:last-child:before float: left

      width: 33.3%;
      {
        background-color: lightgray;
        content: "";
        display: block;
        height: 3px;
        left: 50%;
        margin: 0 2rem 0 2.0rem;
        position: relative;
        top: 3.5rem;
      };
      {
        display: none;
      };

      .number {
        border: 3px solid lightgray;
        color: gray;
        display: block;
        font-family: Arial, serif;
        font-size: 1.8rem;
        font-weight: bold;
        height: 2.5rem;
        line-height: 2.5rem;
        margin: 1rem auto 4rem auto;
        padding: .4em;
        width: 2.5rem;

        @include border-radius(100%);
      }

      p {
        color: darkgray;
        font-family: serif;
        font-size: 1.2rem;
        line-height: 1.7rem;
        margin: auto;
        text-align: center;
        width: 80%;
      }
    }
  }

  &:after {
    background-color: lightgray;
    content: "";
    display: block;
    height: 2px;
    max-width: 100rem;
  }
}

.icon {
  font-size: 5rem;
}

.icon-profile:before {
  color: #ECA95A;
  content: "\e923";
  margin: 2rem auto;
}

.icon-pencil:before {
  color: #AD9DD3;
  content: "\e905";
}

.icon-people:before {
  color: #4D99CB;
  content: "\e9de";
}

.icon-title {
  color: $title-color;
  font-family: Arial, Sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem auto 1rem auto;
}

.icon-quick:before {
  color: $icon-quick;
  content: "\ea10";
}

.icon-easy:before {
  color: $icon-easy;
  content: "\ea2e";
}

.icon-free:before {
  color: $icon-free;
  content: "\e935";
}

.icon-independent:before {
  color: $icon-independent;
  content: "\e971";
}

.icon-comprehensive:before {
  color: $icon-comprehensive;
  content: "\e922";
}

.icon-awesome:before {
  color: $icon-awesome;
  content: "\e9d9";
}

.icon-small {
  font-size: 2.5rem;
}

.why-choose-us {
  margin: 5rem auto 0 auto;
  max-width: 100rem;

  .title {
    margin-bottom: 5rem;
  }

  ul {
    margin: 0 auto;
    max-width: 100rem;
    width: 85%;

    li {
      box-sizing: border-box;
      display: inline-block;
      margin-bottom: 2rem;
      margin-left: 3%;
      width: 45%;

      .icon {
        display: inline-block;
        float: left;
        height: 100%;
        width: 20%;
      }

      .icon-title {
        float: left;
        margin: 0 auto 1rem auto;
      }

      p {
        clear: both;
        color: darkgray;
        font-family: Arial, Sans-serif;
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-left: 20%;
        margin-right: 10%;
        text-align: left;
      }
    }
  }

  &:after {
    background-color: lightgray;
    content: "";
    display: block;
    height: 3px;
    margin: 0 auto;
    max-width: 90rem;
  }
}

$feedback-test: #60677A;
$feedback-job-color: #A0A5B0;

.feedback {
  margin-top: 4rem;

  header {
    letter-spacing: -1rem;

    .feedback-button {
      border: 2px solid $feedback-test;
      font-family: Arial, Sans-serif;
      font-size: .8rem;
      font-weight: bold;
      height: 4rem;
      padding: 1rem;
      width: 12rem;
    }

    $feedback-button-radius: 4px;

    .feedback-test {
      @extend .feedback-button;

      background-color: $feedback-test;
      border-radius: $feedback-button-radius 0 0 $feedback-button-radius;
      color: white;
    }

    .feedback-recent {
      background-color: $bg-color;

      @extend .feedback-button;

      border-radius: 0 $feedback-button-radius $feedback-button-radius 0;
      color: $feedback-test;
    }
  }

  .feedback-detail {
    margin: 3rem auto 0 auto;
    max-width: 100rem;
    width: 60%;

    .feedback-content {
      color: $feedback-test;
      font-family: Arial, Sans-serif;
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 1.7rem;

      &:before {
        color: $secondy-text-color;
        content: "“";
        display: block;
        font-family: serif;
        font-size: 5rem;
        height: 5rem;
        line-height: 5rem;
        margin: 0 auto;
        text-align: center;
        width: 5rem;
      }

      &:after {
        background-color: $secondy-text-color;
        content: "";
        display: block;
        height: 2px;
        margin: 2rem auto;
        width: 2rem;
      }
    }

    .feedback-name {
      color: $feedback-test;
      font-family: Arial, Sans-serif;
      font-size: 1.1rem;
      font-weight: bold;
    }

    .feedback-job {
      color: $feedback-job-color;
      font-family: Arial, Sans-serif;
      font-size: 1.2rem;
      font-weight: bold;
      margin: .8rem auto;
    }
  }

  .feedback-pics {
    margin: 3rem auto 0 auto;
    overflow: hidden;
    text-align: center;
    width: 39%;

    .feedback-pic {
      box-sizing: border-box;
      display: block;
      float: left;
      margin: 6%;

      /*height: 8rem;*/
      /*width: 7rem;*/
      @include border-radius(100%);

      opacity: .5;
      padding: .4rem;
      width: 20%;
    }

    .pic-middle {
      border: 3px solid $secondy-text-color;
      opacity: 1;
    }
  }
}

.footer-search {
  background: url("../images/footer-pic.jpg");
  background-size: contain;
  border: 0;
  margin: 4rem auto 0 auto;
  max-width: 80rem;
  overflow: hidden;
  padding: 6rem;
  text-align: center;

  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: stretch;*/
  ul {
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    width: 85%;
  }

  li {
    box-sizing: border-box;
    float: left;
  }

  li:first-child {
    padding-right: 2%;
    width: 30%;
  }

  li:last-child {
    width: 70%;
  }

  .footer-side {
    color: white;
    font-family: Arial, Sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    height: 2.8rem;
    line-height: 2.8rem;
    white-space: nowrap;
  }

  div {
    height: 2.8rem;
    letter-spacing: -0.31rem;

    input {
      box-sizing: border-box;
      float: left;
    }
  }

  .footer-search-input {
    border: 0;
    border-radius: 4px 0 0 4px;
    height: 2.8rem;
    padding-left: .5rem;
    width: 75%;

    @include input-placeholder {
      color: $title-color;
      font-family: Arial, Sans-serif;
    }
  }

  .footer-search-button {
    background-color: $button-color;
    border: 0;
    border-radius: 0 4px 4px 0;
    color: white;
    font-family: Arial, Sans-serif;
    font-weight: bold;
    height: 2.8rem;
    padding: 0;
    text-transform: uppercase;
    width: 25%;
  }
}

footer {
  margin: 1.5rem auto;
  max-width: 80rem;
  overflow: hidden;
  width: 85%;

  .tp-links {
    float: left;
    overflow: hidden;
    li {
      float: left;
    }
    a {
      color: $title-color;
      font-family: Arial, Sans-serif;
      font-size: 1.3rem;
      line-height: 2rem;
      margin-right: .7rem;
      text-decoration: none;
    }
  }

  .tp-icons {
    float: right;
    width: 15%;

    li {
      float: right;
    }

    .icon-footer {
      font-size: 1.5rem;
      height: 2rem;
      line-height: 2rem;
    }

    .icon-twitter:before {
      color: #4D99CB;
      content: '\ea91';
      margin-left: 1rem;
    }

    .icon-facebook:before {
      color: #4C73B6;
      content: '\ea8c';
    }
  }
}
